.mainApp {
    padding: 0 var(--spacing-200);

    @media (min-width: 34rem){
        padding: 0 var(--spacing-600);
    }

    @media (min-width: 69rem) {
        padding: 0 var(--spacing-1000);
    }
}
