
/* ============ Header styles ================= */
.app-header {
    width: 100%;
    background-color: var(--background-color-secondary);
}

.app-header__title-container {
    padding: var(--spacing-400) var(--spacing-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.056);

    @media (min-width: 34rem) {
        padding: var(--spacing-400) var(--spacing-600);
    }

    @media (min-width: 69rem) {
        padding: var(--spacing-400) var(--spacing-1000);
    }
}

.app-header__title {
    font-size: 1.4rem;
    @media (min-width: 69rem){
        font-size: 2.4rem;
    }
}

.theme-change-button {
    background: none;
    border: none;
    color: var(--primary-font-color);

    &:hover {
        cursor: pointer;
    }

    @media (min-width: 69rem) {
        font-size: var(--text-4-font-size);
    }
}

/* ============ MainApp ================= */
.mainApp {
    margin-top: var(--spacing-300);
    padding: 0 var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);

    @media (min-width: 34rem){
        margin-top: var(--spacing-600);
        padding: 0 var(--spacing-600);
    }

    @media (min-width: 69rem) {
        padding: 0 var(--spacing-1000);
    }
}

/* ============ Search and filter ================= */
.mainApp__searchAndFilter {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);

    @media (min-width: 34rem) {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
}

.mainApp__search-container {
    width: 100%;
    max-width: 48rem;
    padding: var(--spacing-200) var(--spacing-400);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-secondary);
}

.mainApp__search-icon {
    transform: scale(1.5);
    color: var(--search-color-icon);
}

.mainApp__search-bar {
    border: none;
    color: var(--primary-font-color);
    background-color: var(--background-color-secondary);

    &:focus {
        outline: none;
        box-shadow: var(--box-shadow);
    }

    @media (min-width: 34rem) {
        font-size: var(--text-5-font-size);
    }
}

.mainApp__search-bar::placeholder {
    color: var(--search-color-text);
}

.mainApp__filter-container {
    width: 50%;
    max-width: 20rem;
    position: relative;

    &::before {
        position: absolute;
        font-size: 2rem;
        content: "🔻";
        right: var(--spacing-100);
        transform: translateY(-50%);
        top: 50%;
        pointer-events: none;
    }
}

.mainApp__filter {
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-200) var(--spacing-200);
    appearance: none;
    color: var(--primary-font-color);
    background-color: var(--background-color-secondary);
    overflow-wrap: break-word;

    @media (min-width: 34rem) {
        font-size: var(--text-5-font-size);
    }

    &:hover {
            cursor: pointer;
    }
}
/* =============== Country list ========================= */
.mainApp__placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.countryList {
    padding: 0 var(--spacing-400);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--spacing-500);
    list-style: none;

    @media (min-width: 34rem) {
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--spacing-900);
    }

    @media (min-width: 69rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
    }
}

.countryList__country {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-color-secondary);
    overflow: hidden;
}

.countryList__flag {
    width: 100%;
    height: 50%;
}

.countryList__country-info {
    padding: var(--spacing-300) var(--spacing-300) var(--spacing-600) var(--spacing-300);
}

.countryList__country-name {
    margin-bottom: var(--spacing-200);
}

.countryList__country-data {
    font-weight: var(--font-weight-semi-bold);
}




